//
//  Created by TreasuredWord and Jonathan Tsai (@jontsai)
//  Copyright (c) 2014 TreasuredWord. All rights reserved.
//

PARSE_APPLICATION_ID = yourParseApplicationId
PARSE_CLIENT_KEY = yourParseClientKey
