//
//  Created by TreasuredWord and Jonathan Tsai (@jontsai)
//  Copyright (c) 2014 TreasuredWord. All rights reserved.
//

FACEBOOK_APP_ID = yourFacebookAppId
FACEBOOK_APP_DISPLAY_NAME = yourFacebookAppDisplayName
FACEBOOK_APP_URL_SCHEME = yourFacebookAppUrlType

PARSE_APPLICATION_ID = yourParseApplicationId
PARSE_CLIENT_KEY = yourParseClientKey
